# To ignore virtual environment folders
venv/
env/
ENV/
static/
chroma_store/
chromadb_store/
# To ignore sensitive information 
.env

# To ignore Python bytecode and cache files
__pycache__/
*.py[cod]